.registform {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

input {
    width: 200px;
}

.registbtn {
    width: 100px;
    margin-top: 10px;
}